In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (10,6)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,RidgeCV,LassoCV
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score

In [6]:
df = pd.read_csv("car_dataset.csv")

In [7]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
df.columns = df.columns.str.lower()

In [10]:
df[["year","selling_price","present_price","kms_driven"]].corr()

                   year  selling_price  present_price  kms_driven
year           1.000000       0.236141      -0.047584   -0.524342
selling_price  0.236141       1.000000       0.878983    0.029187
present_price -0.047584       0.878983       1.000000    0.203647
kms_driven    -0.524342       0.029187       0.203647    1.000000